In [8]:
import numpy as np
import pandas as pd
import sys
sys.path.append('/Users/gabinmberikongo/code/projet/loan_credit/scripts')
from processing import *

In [3]:
# importation dataframe

df = pd.read_csv('/Users/gabinmberikongo/code/projet/loan_credit/data/accepted_2007_to_2018Q4.csv')

/Users/gabinmberikongo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head().T

                              0         1         2         3         4
id                     68407277  68355089  68341763  66310712  68476807
member_id                   NaN       NaN       NaN       NaN       NaN
loan_amnt                3600.0   24700.0   20000.0   35000.0   10400.0
funded_amnt              3600.0   24700.0   20000.0   35000.0   10400.0
funded_amnt_inv          3600.0   24700.0   20000.0   35000.0   10400.0
...                         ...       ...       ...       ...       ...
settlement_status           NaN       NaN       NaN       NaN       NaN
settlement_date             NaN       NaN       NaN       NaN       NaN
settlement_amount           NaN       NaN       NaN       NaN       NaN
settlement_percentage       NaN       NaN       NaN       NaN       NaN
settlement_term             NaN       NaN       NaN       NaN       NaN

[151 rows x 5 columns]

In [6]:
#data types 
df.dtypes

id                        object
member_id                float64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

In [10]:
# get percentage of null values by columns
get_na_percentage(df)

id                         0.00000
member_id                100.00000
loan_amnt                  0.00146
funded_amnt                0.00146
funded_amnt_inv            0.00146
                           ...
settlement_status         98.48516
settlement_date           98.48516
settlement_amount         98.48516
settlement_percentage     98.48516
settlement_term           98.48516
Length: 151, dtype: float64

selection of columns with a percentage of NAN less than or equal to 50

In [11]:
# selection df : df
df_selected = select_column(df, 50)
df_selected.shape

(2260701, 107)

In [14]:
print(list(df_selected.columns))

['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'hardship_flag', 'disbursement_method', 'debt_settlement_flag']

 **Removal of unnecessary columns**
* id
* zip_code
* url

In [15]:
df_selected = df_selected.drop(columns=["id", "zip_code", "url"])